.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: $white;
}
@include media(768px) {
   .footer {
      position: static;
      margin: 3rem 0;
   }
}
