.header {
   margin: 2.5rem;
   display: flex;
   justify-content: space-between;
   .header__logo {
      max-width: 45%;
   }
   .header__logo-avatar {
      max-width: 90%;
   }
}
@include media(414px) {
   .header {
      margin: 5.5rem;
   }
}
