.main {

   font-size: 1.2rem;
   padding: 2rem;

   background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(135deg,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


   box-shadow: 14.65px 17.58px 29.29px 0px rgba(0, 0, 0, 0.10);
   backdrop-filter: blur( 20.51px );
   -webkit-backdrop-filter: blur( 20.51px );
   border: 0.3px solid rgba(255,255,255,0.15);
   border-radius: 0.62rem;

   overflow: auto;
   height: 70%;
}
