html {
   box-sizing: border-box;
   font-size: 62.5%;
}
*, *::before, *::after {
   box-sizing: inherit;
}
body {
   background-image: url('../../src/assets/img/background.svg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;

   height: 100vh;
   max-height: 100vh;
   overflow: hidden;
   font-size: 1.6rem;
   color: $fontsColor;
   font-family: Arial, Helvetica, sans-serif;
}
@include media(1200px) {
   body {
      height: unset;
      max-height: unset;
      overflow: unset;
   }
}
img {
   max-width: 100%;
}
